<md-content flex class="md-padding page-content">
  <div layout layout-sm="column" flex>
    <md-input-container class="md-block" flex="30">
      <label for="search-for">Select Field...</label>
      <md-select id="search-for" ng-model="$ctrl.dropField" ng-model-options="{trackBy: '$value'}">
        <md-option ng-repeat="data in $ctrl.dropList" value="{{data}}">
          {{data}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex>
      <label for="search-text">Search text...</label>
      <input ng-model="$ctrl.searchText.$" type="search" id="search-text">
    </md-input-container>
    <!--<md-button class="md-fab md-mini" aria-label="Search" type="button" ng-click="$ctrl.searchUser($ctrl.searchText)">
    <i class="material-icons">search</i>
  </md-button>-->
  </div>
  <tsfn-users-list></tsfn-users-list>
</md-content>
