<!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
<div class="table-responsive-vertical md-whiteframe-z1">
  <table id="table" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th ng-repeat="header in $ctrl.headers track by $index">
          {{header.name}}
        </th>
      </tr>
    </thead>
    <md-divider md-inset></md-divider>
    <tbody>
      <tr ng-repeat="data in $ctrl.listData | filter:$ctrl.searchText">
        <td data-title="FirstName">{{data.firstName | uppercase}}</td>
        <td data-title="LastName">{{data.lastName}}</td>
        <td data-title="Company">{{data.company}}</td>
        <td data-title="City">{{data.city}}</td>
        <td data-title="Address">{{data.address}}</td>
        <td data-title="State">{{data.state}}</td>
        </td>
         <ng-outlet></ng-outlet>
      </tr>
    </tbody>
  </table>
</div>
