<md-sidenav md-component-id="right" class="md-whiteframe-z2 md-sidenav-right">
  <md-toolbar>
    <md-toolbar class="md-warn" layout="row" layout-align="center center">
      <img class="img-circle" ng-src="assets/images/feynman.jpg" alt="Logged in user's avatar">

      <md-menu md-offset="0 20">
        <md-button class="capitalize" ng-click="$mdOpenMenu()" aria-label="Open menu">
          <span>Richard Feynman</span>
          <i class="material-icons">keyboard_arrow_down</i>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ng-click="vm.toggleRightSidebar()" ng-link="['Profile']">Profile</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.toggleRightSidebar()" ng-link="['Dashboard']">Log out</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-toolbar>
  </md-toolbar>

  <section>
    <md-toolbar md-theme="grey" class="md-hue-1">
      <div class="md-toolbar-tools">
        <h3>Messages</h3>
      </div>
    </md-toolbar>
    <tsfn-message-list></tsfn-message-list>
  </section>
</md-sidenav>
