<div layout-gt-md="row">
  <tsfn-panel-widget flex title="Site visitors" template="dashboard/panel/template/visitors.tpl.html" class="fixed-height-widget"></tsfn-panel-widget>
  <tsfn-panel-widget flex title="Warnings" template="dashboard/panel/template/warnings.tpl.html" class="fixed-height-widget"></tsfn-panel-widget>
  <tsfn-panel-widget flex title="Memory load" template="dashboard/panel/template/memory.tpl.html" class="fixed-height-widget"></tsfn-panel-widget>
</div>

<div layout-gt-md="row">
  <tsfn-panel-widget flex title="Server Control dashboard/panel" template="dashboard/panel/template/control-dashboard/panel.tpl.html" class="fixed-height-widget"></tsfn-panel-widget>
  <tsfn-panel-widget flex title="Usage Stats" template="dashboard/panel/template/usage.tpl.html" class="fixed-height-widget"></tsfn-panel-widget>
  <tsfn-panel-widget flex title="Autocomplete Input" template="dashboard/panel/template/autocomplete.tpl.html" options="true" class="fixed-height-widget"></tsfn-panel-widget>
</div>

<div layout-gt-md="row">
  <tsfn-panel-widget flex title="Performance" template="dashboard/panel/template/performance.tpl.html" options="true"></tsfn-panel-widget>
  <tsfn-panel-widget flex title="TODO list" template="dashboard/panel/template/checkboxes.tpl.html"></tsfn-panel-widget>
</div>
